@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro:200');

.card .layer {
    background: linear-gradient(to top, rgba(0, 0, 0, 3), rgba(0,0,0,0.4));
    position: absolute;
    bottom: 0; 
    width: 100%; 
    height: 100%; 
    opacity: 0; 
    transition: 0.3s;
}

.card .info {
    position: absolute;
    bottom: -50%; 
    padding: 15px;
    opacity: 0;
    transition: 0.5s bottom, 1.75s opacity;
}


.card:hover> .layer { 
    opacity: 1;
}
.card:hover .info { 
    bottom: 0; 
    opacity: 1;
}

@media (max-width: 768px) {
  .card .layer {
      opacity: 1; /* Always visible */
      transition: none; /* Remove animation */
  }

  .card .info {
      bottom: 0; /* Fully visible */
      opacity: 1; /* Fully visible */
      transition: none; /* Remove animation */
  }
}


.expContainer:hover, › .card:not(:hover) { 
    filter: blur (5px);
}
#expContainer {
  display: flex;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

#expContainer ::-webkit-scrollbar {
  height: 8px; /* Height of the horizontal scrollbar */
}

#expContainer ::-webkit-scrollbar-thumb {
  background: #888; /* Color of the scrollbar thumb */
  border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

#expContainer ::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}

#expContainer ::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the scrollbar track */
}

#skillsContainer {

    display: flex;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; /* Smooth scrolling on iOS */
  }
  
  #skillsContainer::-webkit-scrollbar {
    height: 8px; /* Height of the horizontal scrollbar */
  }
  
  #skillsContainer::-webkit-scrollbar-thumb {
    background: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
  }
  
  #skillsContainer::-webkit-scrollbar-thumb:hover {
    background: #555; /* Color of the scrollbar thumb on hover */
  }
  
  #skillsContainer::-webkit-scrollbar-track {
    background: #f1f1f1; /* Color of the scrollbar track */
  }

  .section-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2%;
    height: 100vh;
    scroll-Margin-Top: 20px;
    padding-left:10%;
    padding-right:5%;
    padding-bottom:5%;
    
  }


  @media (max-width: 859px) {
    .section-container {
      height: auto; /* Override for mobile */
      padding-left:5%;
    }
  }
  .div-container {
    height: 100%; /* Override for mobile */
    width: 50%;
  }

  @media (max-width: 859px) {
    .div-container {
      height: 70vh; /* Override for mobile */
      width:70%;
    }
  }

  .about-section-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 2%;
    height: auto;
    scroll-Margin-Top: 20px;
    padding:5%;
  
    
  }

  
  @media (max-width: 1200px) {
    .about-section-container {
      height: auto; /* Override for mobile */
      
    }
  }
  @media (max-width: 600px) {
    .specialDiv {
     text-align: center; /* Override for mobile */
      
    }
  }


  .about-container {
    height: 90%; 
    width: 100%;
  }

  .working-section-container {
    display: flex;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;
    height: 100vh;
    scroll-Margin-Top: 20px;
    padding:5%;
  
  }




  .working-container {
    height: 90%; 
    width: 100%;
  }

  

  @media (max-width: 1000px) {
    .edu-section-container {
      height: auto; /* Override for mobile */
    }
  }

  .edu-container {
    height: 90%; 
    width: 100%;
  }


  .animated-background {
    background: linear-gradient(-45deg, #ffffff, #ffffff, #e3a7ff, #87d7ff);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.edu-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
  scroll-Margin-Top: 20px;
  padding:5%;
  background: radial-gradient(ellipse at bottom, #0d1d31 0%, #0c0d13 100%);
  overflow: hidden;

}



.stars {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 120%;
  transform: rotate(-45deg);
  z-index: 0;
}

.star {
  --star-color: #ffffff;
  --star-tail-length: 6em;
  --star-tail-height: 2px;
  --star-width: calc(var(--star-tail-length) / 6);
  --fall-duration: 9s;
  --tail-fade-duration: var(--fall-duration);
  position: absolute;
  top: var(--top-offset);
  left: 0;
  width: var(--star-tail-length);
  height: var(--star-tail-height);
  color: var(--star-color);
  background: linear-gradient(45deg, currentColor, transparent);
  border-radius: 50%;
  filter: drop-shadow(0 0 6px currentColor);
  transform: translate3d(104em, 0, 0);
  animation: fall var(--fall-duration) var(--fall-delay) linear infinite, tail-fade var(--tail-fade-duration) var(--fall-delay) ease-out infinite;
}
@media screen and (max-width: 750px) {
  .star {
    animation: fall var(--fall-duration) var(--fall-delay) linear infinite;
  }
}
.star:nth-child(1) {
  --star-tail-length: 6.55em;
  --top-offset: 60.34vh;
  --fall-duration: 7.67s;
  --fall-delay: 1.624s;
}
.star:nth-child(2) {
  --star-tail-length: 5.27em;
  --top-offset: 81.34vh;
  --fall-duration: 9.292s;
  --fall-delay: 0.845s;
}
.star:nth-child(3) {
  --star-tail-length: 5.54em;
  --top-offset: 64.15vh;
  --fall-duration: 8.598s;
  --fall-delay: 5.587s;
}
.star:nth-child(4) {
  --star-tail-length: 5.17em;
  --top-offset: 56.48vh;
  --fall-duration: 6.382s;
  --fall-delay: 6.89s;
}
.star:nth-child(5) {
  --star-tail-length: 5.23em;
  --top-offset: 61.79vh;
  --fall-duration: 7.553s;
  --fall-delay: 8.848s;
}
.star:nth-child(6) {
  --star-tail-length: 7.4em;
  --top-offset: 26.83vh;
  --fall-duration: 8.681s;
  --fall-delay: 1.918s;
}
.star:nth-child(7) {
  --star-tail-length: 6.09em;
  --top-offset: 97.06vh;
  --fall-duration: 6.359s;
  --fall-delay: 2.718s;
}
.star:nth-child(8) {
  --star-tail-length: 5.77em;
  --top-offset: 67.33vh;
  --fall-duration: 9.975s;
  --fall-delay: 0.079s;
}
.star:nth-child(9) {
  --star-tail-length: 5.25em;
  --top-offset: 42.23vh;
  --fall-duration: 10.264s;
  --fall-delay: 6.058s;
}
.star:nth-child(10) {
  --star-tail-length: 6.36em;
  --top-offset: 49.45vh;
  --fall-duration: 8.481s;
  --fall-delay: 1.904s;
}
.star:nth-child(11) {
  --star-tail-length: 5.18em;
  --top-offset: 36.38vh;
  --fall-duration: 11.616s;
  --fall-delay: 7.808s;
}
.star:nth-child(12) {
  --star-tail-length: 6.73em;
  --top-offset: 80.88vh;
  --fall-duration: 11.023s;
  --fall-delay: 9.246s;
}
.star:nth-child(13) {
  --star-tail-length: 5.76em;
  --top-offset: 64.02vh;
  --fall-duration: 11.356s;
  --fall-delay: 9.754s;
}
.star:nth-child(14) {
  --star-tail-length: 7.35em;
  --top-offset: 41.83vh;
  --fall-duration: 9.642s;
  --fall-delay: 8.651s;
}
.star:nth-child(15) {
  --star-tail-length: 7.41em;
  --top-offset: 19.33vh;
  --fall-duration: 11.66s;
  --fall-delay: 6.571s;
}
.star:nth-child(16) {
  --star-tail-length: 7.36em;
  --top-offset: 92.99vh;
  --fall-duration: 7.982s;
  --fall-delay: 8.031s;
}
.star:nth-child(17) {
  --star-tail-length: 5.61em;
  --top-offset: 97.27vh;
  --fall-duration: 9.09s;
  --fall-delay: 5.581s;
}
.star:nth-child(18) {
  --star-tail-length: 6.16em;
  --top-offset: 68.02vh;
  --fall-duration: 6.67s;
  --fall-delay: 5.156s;
}
.star:nth-child(19) {
  --star-tail-length: 6.77em;
  --top-offset: 45.87vh;
  --fall-duration: 11.512s;
  --fall-delay: 4.539s;
}
.star:nth-child(20) {
  --star-tail-length: 5.54em;
  --top-offset: 20.42vh;
  --fall-duration: 11.725s;
  --fall-delay: 5.723s;
}
.star:nth-child(21) {
  --star-tail-length: 5.51em;
  --top-offset: 1vh;
  --fall-duration: 6.951s;
  --fall-delay: 9.262s;
}
.star:nth-child(22) {
  --star-tail-length: 6.56em;
  --top-offset: 48.24vh;
  --fall-duration: 11.802s;
  --fall-delay: 7.633s;
}
.star:nth-child(23) {
  --star-tail-length: 6.48em;
  --top-offset: 28.71vh;
  --fall-duration: 10.67s;
  --fall-delay: 4.816s;
}
.star:nth-child(24) {
  --star-tail-length: 6.03em;
  --top-offset: 31.28vh;
  --fall-duration: 9.169s;
  --fall-delay: 6.798s;
}
.star:nth-child(25) {
  --star-tail-length: 7.34em;
  --top-offset: 62.68vh;
  --fall-duration: 7.439s;
  --fall-delay: 1.747s;
}
.star:nth-child(26) {
  --star-tail-length: 7.37em;
  --top-offset: 63.02vh;
  --fall-duration: 11.102s;
  --fall-delay: 2.11s;
}
.star:nth-child(27) {
  --star-tail-length: 5.63em;
  --top-offset: 21.26vh;
  --fall-duration: 11.829s;
  --fall-delay: 0.933s;
}
.star:nth-child(28) {
  --star-tail-length: 5.31em;
  --top-offset: 64.21vh;
  --fall-duration: 8.272s;
  --fall-delay: 4.378s;
}
.star:nth-child(29) {
  --star-tail-length: 5.02em;
  --top-offset: 23.67vh;
  --fall-duration: 7.429s;
  --fall-delay: 0.199s;
}
.star:nth-child(30) {
  --star-tail-length: 6.88em;
  --top-offset: 76.12vh;
  --fall-duration: 9.199s;
  --fall-delay: 5.727s;
}
.star:nth-child(31) {
  --star-tail-length: 6.55em;
  --top-offset: 86.54vh;
  --fall-duration: 9.066s;
  --fall-delay: 3.376s;
}
.star:nth-child(32) {
  --star-tail-length: 6.36em;
  --top-offset: 19.73vh;
  --fall-duration: 10.557s;
  --fall-delay: 4.801s;
}
.star:nth-child(33) {
  --star-tail-length: 5.19em;
  --top-offset: 1.09vh;
  --fall-duration: 8.016s;
  --fall-delay: 1.906s;
}
.star:nth-child(34) {
  --star-tail-length: 5.98em;
  --top-offset: 17.65vh;
  --fall-duration: 9.904s;
  --fall-delay: 8.707s;
}
.star:nth-child(35) {
  --star-tail-length: 5.2em;
  --top-offset: 66.3vh;
  --fall-duration: 7.432s;
  --fall-delay: 1.694s;
}
.star:nth-child(36) {
  --star-tail-length: 5.79em;
  --top-offset: 43.99vh;
  --fall-duration: 6.915s;
  --fall-delay: 4.498s;
}
.star:nth-child(37) {
  --star-tail-length: 5.07em;
  --top-offset: 66.17vh;
  --fall-duration: 8.87s;
  --fall-delay: 0.692s;
}
.star:nth-child(38) {
  --star-tail-length: 6.18em;
  --top-offset: 17.37vh;
  --fall-duration: 10.606s;
  --fall-delay: 6.356s;
}
.star:nth-child(39) {
  --star-tail-length: 6.54em;
  --top-offset: 3.83vh;
  --fall-duration: 8.644s;
  --fall-delay: 1.257s;
}
.star:nth-child(40) {
  --star-tail-length: 5.97em;
  --top-offset: 49.11vh;
  --fall-duration: 6.142s;
  --fall-delay: 4.941s;
}
.star:nth-child(41) {
  --star-tail-length: 5.65em;
  --top-offset: 67.49vh;
  --fall-duration: 9.922s;
  --fall-delay: 2.257s;
}
.star:nth-child(42) {
  --star-tail-length: 5.09em;
  --top-offset: 11.62vh;
  --fall-duration: 6.284s;
  --fall-delay: 0.472s;
}
.star:nth-child(43) {
  --star-tail-length: 6.47em;
  --top-offset: 7.67vh;
  --fall-duration: 9.979s;
  --fall-delay: 5.71s;
}
.star:nth-child(44) {
  --star-tail-length: 7.28em;
  --top-offset: 78.37vh;
  --fall-duration: 9.593s;
  --fall-delay: 9.034s;
}
.star:nth-child(45) {
  --star-tail-length: 7.13em;
  --top-offset: 12.83vh;
  --fall-duration: 6.257s;
  --fall-delay: 4.056s;
}
.star:nth-child(46) {
  --star-tail-length: 5.35em;
  --top-offset: 50.22vh;
  --fall-duration: 11.698s;
  --fall-delay: 8.143s;
}
.star:nth-child(47) {
  --star-tail-length: 5.73em;
  --top-offset: 62.42vh;
  --fall-duration: 11.575s;
  --fall-delay: 8.447s;
}
.star:nth-child(48) {
  --star-tail-length: 5.52em;
  --top-offset: 44.62vh;
  --fall-duration: 11.689s;
  --fall-delay: 0.719s;
}
.star:nth-child(49) {
  --star-tail-length: 6.26em;
  --top-offset: 93.42vh;
  --fall-duration: 8.863s;
  --fall-delay: 1.838s;
}
.star:nth-child(50) {
  --star-tail-length: 5.91em;
  --top-offset: 70.44vh;
  --fall-duration: 11.792s;
  --fall-delay: 8.963s;
}
.star::before, .star::after {
  position: absolute;
  content: "";
  top: 0;
  left: calc(var(--star-width) / -2);
  width: var(--star-width);
  height: 100%;
  background: linear-gradient(45deg, transparent, currentColor, transparent);
  border-radius: inherit;
  animation: blink 2s linear infinite;
}
.star::before {
  transform: rotate(45deg);
}
.star::after {
  transform: rotate(-45deg);
}

@keyframes fall {
  to {
    transform: translate3d(-30em, 0, 0);
  }
}
@keyframes tail-fade {
  0%, 50% {
    width: var(--star-tail-length);
    opacity: 1;
  }
  70%, 80% {
    width: 0;
    opacity: 0.4;
  }
  100% {
    width: 0;
    opacity: 0;
  }
}
@keyframes blink {
  50% {
    opacity: 0.6;
  }
}


.skill-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  height: auto;
  scroll-Margin-Top: 20px;
  padding:5%;
  background: linear-gradient(#123 30%, #667);
  overflow: hidden;

}

@media (max-width: 1000px) {
  .skill-section-container {
    height: auto; /* Override for mobile */
    
  }
}

.skill-container {
  height: 90%; 
  width: 100%;
}


.snow, .snow:before, .snow:after {
  position: absolute;
  top: -600px;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: radial-gradient(6px 6px at 283px 209px, rgba(189, 189, 189, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 168px 83px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 146px 474px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 168px 58px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 274px 124px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 572px 466px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 557px 354px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 411px 240px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 434px 453px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 82px 406px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 263px 487px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 425px 385px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 208px 224px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 312px 560px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 418px 144px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 151px 485px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 114px 518px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 496px 544px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 140px 30px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 209px 350px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 431px 163px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 501px 380px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 7px 112px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 53px 173px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 311px 132px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 514px 375px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 19px 179px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 156px 552px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 492px 477px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 539px 266px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 539px 550px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 175px 488px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 439px 95px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 456px 362px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 579px 374px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 287px 151px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 315px 125px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 461px 152px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 25px 327px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 332px 564px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 207px 64px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 356px 103px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 313px 50px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 210px 415px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 525px 198px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 46px 99px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 437px 279px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 454px 74px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 539px 53px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 183px 95px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 255px 350px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 388px 292px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 304px 311px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 130px 421px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 167px 533px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 419px 295px, rgba(255, 255, 255, 0.9) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 260px 324px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 201px 208px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 93px 395px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 456px 41px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 180px 416px, rgba(255, 255, 255, 0.8) 50%, rgba(0, 0, 0, 0)), radial-gradient(3px 3px at 32px 304px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 169px 271px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 358px 25px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 419px 123px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 24px 309px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(4px 4px at 142px 218px, rgba(255, 255, 255, 0.7) 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 164px 206px, white 50%, rgba(0, 0, 0, 0)), radial-gradient(5px 5px at 385px 126px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0)), radial-gradient(6px 6px at 99px 524px, rgba(255, 255, 255, 0.6) 50%, rgba(0, 0, 0, 0));
  background-size: 600px 600px;
  animation: snow 3s linear infinite;
  content: "";
  z-index: 0;
}

.snow:after {
  margin-left: -200px;
  opacity: 0.4;
  animation-duration: 6s;
  animation-direction: reverse;
  filter: blur(3px);
}

.snow:before {
  animation-duration: 9s;
  animation-direction: reverse;
  margin-left: -300px;
  opacity: 0.65;
  filter: blur(1.5px);
}

@keyframes snow {
  to {
    transform: translateY(600px);
  }
}



.contact-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;

  height: auto;
  scroll-Margin-Top: 20px;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
  
}

@media (max-width: 1000px) {
  .contact-section-container {
    height: auto; /* Override for mobile */
    
  }
}

.contact-container {
  height: 80%; 
  width: 40%;
}

.animated-black-background {
  background: linear-gradient(-45deg, #3e3e3e, #36004a, #010101, #87d7ff);
  background-size: 400% 400%;
  animation: gradient 12s ease infinite;
}



.skyanimation  {
    background-image: url('https://static.pexels.com/photos/414171/pexels-photo-414171.jpeg');
  background-size:cover;
        -webkit-animation: slidein 100s;
        animation: slidein 100s;

        -webkit-animation-fill-mode: forwards;
        animation-fill-mode: forwards;

        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;

        -webkit-animation-direction: alternate;
        animation-direction: alternate;              
}

@-webkit-keyframes slidein {
from {background-position: top; background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}
}

@keyframes slidein {
from {background-position: top;background-size:3000px; }
to {background-position: -100px 0px;background-size:2750px;}

}



.center
{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(75, 75, 250, 0.3);
  border-radius: 3px;
}
.center h1{
  text-align:center;
  color:white;
  font-family: 'Source Code Pro', monospace;
  text-transform:uppercase;
}



.project-section-container {
  display: flex;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  height: 100vh;
  scroll-Margin-Top: 20px;
  padding-left:5%;
  padding-right:5%;
  padding-bottom:5%;
  
}

@media (max-width: 1000px) {
  .project-section-container {
    height: auto; /* Override for mobile */
    
  }
}

.project-container {
  height: 80%; 
  width: 40%;
}

.scroll-container {
  height: 100vh; /* Full viewport height */
  overflow-y: scroll; /* Enable vertical scrolling */
  scroll-snap-type: y mandatory; /* Snap vertically */
  scroll-behavior: smooth; /* Smooth scrolling effect */
}

/* Child sections */
.scroll-section {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: 100vh; /* Each section fills the viewport */

}
.scroll1-section {
  scroll-snap-align: start; /* Snap to the start of each section */
  height: auto; /* Each section fills the viewport */

}
@media (max-width: 859px) {
  .scroll-section {
    height: auto; /* Override for mobile */
    padding-left:5%;
  }
}